.editPass{
        padding: 20px;
        background-color: white;
        width: 30%;
        margin: 30px auto;
        border-radius: 10px;
    
}
@media screen and (max-width: 768px) {
    .editPass{
        width: 90%;
    }
}