.productDetail {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.productDetail-img {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
}
.productDetail-content {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .productDetail {
        display: inline;
    }
    .productDetail-img {
        flex: 0 0 auto;
        width: 100%;
    }
    .productDetail-content {
        flex: 0 0 auto;
        width: 100%;
    }
}