/* .header-upper{
    position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  background-color: #fff;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; 
} */

@media screen and (max-width: 768px) {
    .menu-bottom{
        gap: 40px;
        justify-content: center;
    }
    .logo img{
        
    }
    .header{
        margin-top: 70px;
    }
}
